{% extends 'master' %}

{% block content %}
  <h1 class="title">HOME PAGE</h1>
  {% for twit in tweets %}
    <div class="tweetContainer">
        <p class="tweetUsername">{{ twit.userID }}</p>
        <div class="tweet"><p class="tweetContent">{{ twit.content }}</p></div>
    </div>
  {% endfor %}
{% endblock %}