{% extends 'master' %}

{% block content %}
    {% if currentUser %}
        <h1 class="title">HOME PAGE</h1>
        <textarea class="createTweet" rows="3" cols="50" maxlength="160" placeholder="Enter Tweet Here">
        </textarea>
        {% for twit in tweets %}
            <div class="tweetContainer">
                <p class="tweetUsername">{{ twit.userID }}</p>
                <div class="tweet"><p class="tweetContent">{{ twit.content }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    {% if not currentUser %}
        <a href="/login" class="btn btn-info">You must be logged in to view this information. Click here to be redirected.</a>
    {% endif %}
{% endblock %}