<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Twitter Clone</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<!--  <link rel="stylesheet" type="text/css" href="style.css">-->
  <link rel="stylesheet" type="text/css" href="master.css">
  <link rel="stylesheet" type="text/css" href="homePage.css">
</head>
<body>
    <nav class="hidden-xs navbar-fixed">
        <ul>
            <li id="brandItem" class="brandItem"><p class="brand">MyTweet</p></li>
            <li><a href="#aboutMe" class="active aboutMe" onClick="changeActiveAbout()" title="Go to About Me">Tweet</a></li>
            <li><a href="#projects" class="projects" onClick="changeActiveProj()" title="Go to Projects">Search</a></li>
            {% if not currentUser %}
            <li style="float:right" class="contactMeList"><a class="contactMe" href="#contactMe" onClick="changeActiveContact()" title="Go to Contact Info">Login</a></li>
            {% else %}
            <li style="float:right" class="contactMeList"><a class="contactMe" href="#contactMe" onClick="changeActiveContact()" title="Go to Contact Info">{{ currentUser.username }}</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
